<main class="main">
  <header>
    <h1>Messenger</h1>
  </header>

  <!-- Zeigt das Login-Formular, wenn der Benutzer nicht eingeloggt ist -->
  <ng-container *ngIf="!isLoggedIn">
    <login (login)="handleLogin($event)"></login>
  </ng-container>

  <!-- Zeigt die Nachrichtenschnittstelle, wenn der Benutzer eingeloggt ist -->
  <ng-container *ngIf="isLoggedIn">
    <section>
      <div>
        <h2>Hello {{ user.firstName }}!</h2>

        <!-- Logout-Button -->
        <button (click)="logout()">Logout</button>
      </div>

      <!-- Anzeige der gesendeten Nachrichten -->
      <div class="messages">
        <ul>
          <li *ngFor="let msg of messages">
            <div class="message-header">
              <strong>{{ msg.sender }}</strong>
              <span>{{ msg.timestamp | date : "dd.MM.yyyy HH:mm" }}</span>
            </div>
            <div class="message-body">
              {{ msg.text }}
            </div>
          </li>
        </ul>
      </div>

      <!-- Nachricht senden -->
      <form id="messageForm" (submit)="sendMessage()">
        <textarea
          id="messageInput"
          placeholder="Your message"
          [(ngModel)]="messageText"
          name="message"
          rows="5"
        ></textarea>
        <button type="submit" id="sendButton">Senden</button>
      </form>
    </section>
  </ng-container>
</main>
<router-outlet></router-outlet>
